body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

#add-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: black;
    background-color: lime;
    border-color: gray;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}
